<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>guide</key>
	<string></string>
	<key>rule</key>
	<string>新经版交易所交易规则

第一章 总则
1.为规范新经版份额转让市场交易行为，维护众筹转让市场秩序，保护投资者合法权益，根据《新经版交易所章程》制定本规则。
2.新经版交易所上市的交易品种，适用本规则。
3.交易遵循公开，公平，公正的原则。
4.投资者交易行为应当遵守法律、行政法规以及本所有关业务规则，遵循自愿、有偿、诚实信用原则。
5.众筹份额转让交易采用无纸化集中交易。

第二章 交易市场

第一节 交易场所
1.本所为众筹交易提供交易场所及设施。交易场所及设施由交易主机、报盘系统及相关的通信系统等组成。
第二节 交易参与人
1.会员进入本所市场进行众筹份额交易，应当向本所申请取得交易权限，成为本所交易参与人。
2.交易权限的具体规定，由本所另行制定。

第三节 交易品种与方式
1.交易品种包括：众筹份额及交易所审批的其他交易品种。
2.交易方式包括：现有份额交易及交易所审批的其他交易方式。

第四节 交易时间
1.本所交易日为每周一至周五。国家法定假日和本所公告的休市日，本所市场休市。
2.众筹份额转让采用竞价交易方式的，每个交易日的9︰00 至 12︰00、13︰30 至 16︰30为连续竞价交易时间。
3.交易时间内因故停市，交易时间不作顺延。

第三章 众筹份额买卖

第一节 一般规定
1.交易所接受会员的买卖委托后，应当确认投资者具备相应众筹份额或资金，承担相应的交易、交收责任。
2.交易所接受会员买卖委托达成交易的，会员应当向交易所交付其委托交易所卖出的份额或其委托交易所买入份额的款项，交易所应当向会员交付卖出份额所得款项或买入的份额。
3.会员通过报盘系统向本所交易主机发送买卖申报指令，并按本规则达成交易，交易记录由本所发送至会员。
4.会员应当按有关规定妥善保管委托和申报记录。

第二节 委托
1.会员买卖众筹份额，应当以实名方式开立交易账户，并与交易所签订风险揭示书及交易服务协议。
2.会员可以通过自助终端、互联网等自助委托方式买卖众筹份额。
3.除本所另有规定外，会员的委托指令应当包括：
（一）账户号码；
（二）交易代码；
（三）买卖方向；
（四）委托数量；
（五）委托价格；
（六）本所要求的其他内容。
4.会员采用限价成交的方式买卖众筹份额。
限价成交：限价成交是指按照限定价格或者更优价格成交的指令。

第三节 申报
1.本所接受会员交易申报的时间为每个交易日9︰00至 12︰00、13︰30 至 16︰30，交易时间，可申报、可撤单。
2.众筹份额价格的最小变动单位为0.01元/份。
3.众筹份额的最小交易单位为100份。
4.限价申报指令应当包括交易代码、买卖方向、数量、价格等内容。
5.涨幅限制为6%，涨幅限制价格=前收盘价×（1+涨幅限制比例），跌幅限制为6%，跌幅限制价格=前收盘价×（1-跌幅限制比例）,计算结果按照四舍五入原则取至价格最小变动单位。
6.买卖有价格涨跌幅限制的份额，其有效竞价范围与涨跌幅限制范围一致，在价格涨跌幅限制以内的申报为有效申报，超过涨跌幅限制的申报为无效申报。

第四节 竞价
1.众筹份额交易采用连续竞价方式。连续竞价，是指对买卖申报逐笔连续撮合的竞价方式。

第五节 成交
1.众筹份额竞价交易按价格优先、时间优先的原则撮合成交。
价格优先的原则为：较高价格买入申报优先于较低价格买入申报，较低价格卖出申报优先于较高价格卖出申报。
时间优先的原则为：买卖方向、价格相同的，先申报者优先于后申报者。先后顺序按交易主机接受申报的时间确定。
2.连续竞价时，成交价的确定原则为：
（一）最高买入申报与最低卖出申报价格相同，以该价格为成交价；
（二）买入申报价格高于集中申报簿当时最低卖出申报价格时，以集中申报簿当时的最低卖出申报价格为成交价；
（三）卖出申报价格低于集中申报簿当时最高买入申报价格时，以集中申报簿当时的最高买入申报价格为成交价。
3.买卖申报经交易主机撮合成交后，交易即告成立。符合本规则各项规定达成的交易于成立时生效，买卖双方必须承认交易结果，履行清算交收义务。
因不可抗力、意外事件、交易系统被非法侵入等原因造成严重后果的交易，本所可以采取适当措施或认定无效。
对显失公平的交易，经本所认定，可以采取适当措施。
违反本规则，严重影响众筹份额交易市场正常运行的交易，本所有权宣布取消交易。由此造成的损失由违规交易者承担。
4.依照本规则达成的交易，其成交结果以交易主机记录的成交数据为准。
5.会员间的清算交收业务由本所指定的部门负责办理。

第四章 其他交易事项

第一节 开盘价和收盘价
1.开盘价为上一交易日的收盘价。
2.收盘价以当日该份额最后一笔交易价为收盘价。当日无成交的，以前收盘价为当日收盘价。

第二节 挂牌、摘牌、停牌与复牌
1.本所对上市份额实施挂牌交易。
2.众筹份额上市期届满或依法不再具备上市条件的，本所终止其上市交易，予以摘牌。
3.交易出现异常交易行为或情形的，本所可以视情况对众筹份额实施停牌，发布公告，并根据需要公布相关信息。有披露义务的当事人应当按照本所的要求及时公告。具体停牌及复牌的时间，以相关公告为准。
4.众筹份额的挂牌、摘牌、停牌与复牌，由本所或众筹管理人予以公告。
5.众筹份额的挂牌、摘牌、停牌与复牌的其他规定，按照本所上市规则及其他有关规定执行。

第三节 除息
1.上市众筹份额在发生权益分派时，本所在权益登记日次一交易日对该份额价格作除息处理，本所另有规定的除外。
2.除息参考价计算公式：除息参考价＝前收盘价-现金红利。
3.除息日份额买卖，按除息参考价作为计算涨跌幅度的基准，本所另有规定的除外。

第五章 交易信息

第一节 一般规定
1.本所每个交易日发布份额交易即时行情、份额指数、份额交易公开信息等交易信息。
2.本所及时编制反映市场成交情况的各类日报表、周报表、月报表和年报表，并通过本所网站或其他媒体予以公布。
3.本所交易信息归本所所有。未经许可，任何机构和个人不得使用和传播。经本所许可使用交易信息的机构和个人，未经同意，不得将交易信息提供给其他机构和个人使用或予以传播。

第二节 即时行情
1.连续竞价期间，即时行情内容包括：交易代码、份额简称、前收盘价、最近成交价、当日最高价、当日最低价、当日累计成交数量、当日累计成交金额、实时最高五个价位买入申报价和数量、实时最低五个价位卖出申报价和数量等。
2.即时行情显示的前收盘价为该份额上一交易日的收盘价，但下列情形的除外：
（一）首次公开发行并上市份额上市首日，其即时行情显示的前收盘价为其发行价；
（二）恢复上市份额上市首日，其即时行情显示的前收盘价为其暂停上市前最后交易日的收盘价；
（三）份额除息日，其即时行情显示的前收盘价为该份额除息参考价；
（四）本所规定的其他情形。
3.即时行情通过本所许可的通信系统传输，会员应在本所许可的范围内使用。
4.本所可以根据市场需要，调整即时行情发布的方式和内容。

第三节 交易公开信息
1.有价格涨跌幅限制的众筹份额价格涨跌幅连续三日偏离达到20%的情形，本所将公布相关交易及提示信息。
2.有价格涨跌幅限制的众筹份额价格涨跌幅连续三日偏离达到30%的情形，众筹企业和项目管理人需进行信息披露。如没有履行披露义务，交易所将对挂牌份额进行停牌处理。

第六章 监督及违规处理
1.本所对众筹交易中的下列事项，予以重点监控：
（一）涉嫌内幕交易、操纵市场等违法违规行为；
（二）众筹份额买卖的时间、数量、方式等受到法律、行政法规、及本所业务规则等相关规定限制的行为；
（三）可能影响众筹份额交易价格或者众筹份额交易量的异常交易行为；
（四）众筹份额交易价格或者众筹份额交易量明显异常的情形；
（五）本所认为需要重点监控的其他事项。
2.可能影响众筹交易价格或者众筹交易量的异常交易行为包括：
（一）可能对众筹份额交易价格产生重大影响的信息披露前，大量或持续买入或卖出相关份额；
（二）单个或两个以上固定的或涉嫌关联的众筹账户之间，大量或频繁进行反向交易；
（三）单个或两个以上固定的或涉嫌关联的众筹账户，大笔申报、连续申报、 密集申报或申报价格明显偏离该份额行情揭示的最新成交价；
（四）单独或合谋，以涨幅或跌幅限制的价格大额申报或连续申报，致使该众筹份额交易价格达到或维持涨幅或跌幅限制；
（五）频繁申报和撤销申报，或大额申报后撤销申报，以影响众筹份额交易价格或误导其他投资者；
（六）在价格敏感期内，通过异常申报，影响相关众筹份额交易价格、结算价格或参考价值；
（七）本所认为需要重点监控的其他异常交易行为。
3.本所可以针对众筹交易中重点监控事项进行调查，会员及投资者应当予以配合。
4.本所在调查中，可以根据需要要求相关投资者及时、准确、完整地提供下列文件和资料：
（一）投资者的开户资料、资金账户情况和相关账户的交易情况等；
（二）对众筹交易中重点监控事项的解释；
（三）其他与本所重点监控事项有关的资料。
5.对重点监控事项中情节严重的行为，本所可以视情况采取下列措施：
（一）口头或书面警示；
（二）约见谈话；
（三）要求提交书面承诺；
（四）限制相关众筹账户交易；
（五）罚款；
（六）取消会员资格。
对第（四）（五）（六）项措施有异议的，可以自接到相关措施执行通知之日起15日内，向本所申请复核。复核期间不停止该措施的执行。

第七章 交易异常情况处理
1.发生下列交易异常情况之一，导致部分或全部交易不能进行的，本所可以决定单独或同时采取暂缓进入交收、技术性停牌或临时停市等措施：
（一）不可抗力；
（二）意外事件；
（三）技术故障；
（四）本所认定的其他异常情况。
2.出现无法申报或行情传输中断情况的，会员应及时向本所报告。无法申报或行情传输中断的会员数量超过本所全部会员总数10%以上的，属于交易异常情况，本所可以实行临时停市。
3.本所认为可能发生交易异常情况，并严重影响交易正常进行的，可以决定技术性停牌或临时停市。
4.本所对暂缓进入交收、技术性停牌或临时停市决定予以公告。技术性停牌或临时停市原因消除后，本所可以决定恢复交易，并予以公告。
5.因交易异常情况及本所采取的相应措施造成损失的，本所不承担赔偿责任。
6.交易异常情况处理的具体规定，由本所另行制定。

第八章  交易纠纷
1.会员之间、会员与客户之间发生交易纠纷，相关会员应当记录有关情况，以备本所查阅。交易纠纷影响正常交易的，会员应当及时向本所报告。
2.会员之间、会员与客户之间发生交易纠纷，本所可以按有关规定，提供必要的交易数据。
3.客户对交易有疑义的，会员有义务协调处理。

第九章  交易费用
1.投资者买卖众筹份额成交的，应当按规定向交易所交纳佣金。
2.众筹交易的收费项目、收费标准和管理办法按照有关规定执行。
买入：交易费按买入金额的3‰收取，最低收取5元。 下达买入委托，计算收取交易费，撤单交易费退回。未成交未撤单委托，盘后结算，交易费用自动退回。
卖出：交易费按卖出金额的3‰收取，最低收取5元。 卖出成交时收取交易费。

第十章  附则
1.会员违反本规则的，本所根据《新经版份额交易所会员管理规则》对相关会员进行纪律处分。
2.通过本所交易系统进行众筹份额发行、认购、申购、买卖业务的，参照本规则的相关规定执行。
3.本规则中所述时间，以本所交易主机的时间为准。
4.本规则下列用语具有如下含义：
（一）市场：指本所设立的新经版份额交易市场。
（二）委托：指会员向交易所进行具体买卖份额的行为。
（三）申报：指交易参与人向本所交易主机发送众筹份额买卖指令的行为。
5.本规则未定义的用语的含义，依照法律、行政法规及本所有关业务规则确定。
6.本规则所称“超过”、“低于”、“不足”不含本数，“达到”、“以上”、“以下”含本数。
7.本规则由本所负责解释。
8.本规则自2016年06月01日起施行。
</string>
</dict>
</plist>
